MONGODB_URI=mongodb+srv://auwaluizziddin2212_db_user:DBdN6p0uCm3xj3OX@cluster0.5lcj8ew.mongodb.net/?appName=Cluster0
AT_USERNAME=sandbox
AT_API_KEY=atsk_2de9446b12ee24c8b09666ed0f4660f5296d97170eb2e5d8e2bf265440d53bd90c72764b
AT_SENDER_ID=RIDERR
PORT=5000
